@media only screen and (max-width: 600px) {
    .searchBoxSeaprate {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .searchBoxWidth {
        width: 100%
    }

    .mediaPart {
        flex-direction: column;
    }
}

.list-group {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
}

.list-group-item {
    width: 160px;
    height: 200px;
    list-style-type: none;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
}

/* Chrome, Safari, Edge, Opera */
.numberRemove input::-webkit-outer-spin-button,
.numberRemove input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberRemove input[type=number] {
    -moz-appearance: textfield;
}

.ck-editor__editable_inline {
    min-height: 100px;
}

.error .ck-editor__editable {
    border-color: red !important;
}

.carousel .carousel-status {
    display: none;
}
.carousel .control-dots .dot {
    opacity: .9;
}